@import 'fontface';

@include fontFace(Champ, /fonts/champ/champ);

$font-stack: Champ, Roboto;
$font-size-mobile: 1.8em;

$bgColor: #2f2f2f;
$detailColor: #fbb233;
$jobCardHeaderColor: #434343;
$jobCardBodyColor: #393939;
$menuColor: #202020;


body{
  background-color: $bgColor;
}
h2, h3, h4{
  font-weight: 200;
  font-family: $font-stack;
}
#top-text{
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 50px;
  color: $detailColor;
  font-family: $font-stack;
}

menu{
  position: fixed;
  background-color: $menuColor;
  height: 100%;
  width: 70px;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;

  img{
    width:48px;
    margin: 8px 0 0 8px;
  }
}


.collapsible{
  li{
    margin: 0 24px !important;
  }
}

.btn{
  margin: 8px !important;
}

.filter-class{
  margin-bottom: 48px;
  h4{
    margin: 0;
  }
}

.collapsible-header{
  margin: 8px 0 8px 0px !important;
  padding: 16px;
  border-radius: 2px;
  background-color: $jobCardHeaderColor;
  border-bottom: 0 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  h2,h3,h4{
    color: $detailColor;
  }
}

.collapsible-body {
  display: block;
  width: 100%;
  background-color: $jobCardBodyColor;
  border-bottom: 0 !important;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -10px !important;

  h2,h3,h4{
    color: $detailColor;
  }

}


.active{
  margin:  0 !important;
  margin:  0 !important;
}

.country {
  color: #fff;
  font-weight: 300;
  display: block;
  img {
    height: 48px !important;
    float:left;
  }
  p{
    width: 50%;
  }

}

.faculty{
  color: #fff;
  font-weight: 300;
}

.arrow {
  float: right;
  img {
    height: 48px !important;
  }
}

.work-desc{
  border-bottom: 1px solid #5e5e5e;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 200;
}


.tables{
  display: flex;
}

.table-wrapper{
  width: 100%;
  float: left;
  height: 100%
}



table.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  position: relative;
  table-layout:fixed
}

table.responsive-table thead {
  display: block;
  float: left;
  border-right: 1px solid #5e5e5e;
  border-bottom: 0;
  width: 40%;
}

table.responsive-table thead tr {
  display: block;
  padding: 0 10px 0 0;

}

table.responsive-table tr {
  padding: 0 10px;
  color: #fff;
  font-weight: 200;

}

table.responsive-table th {
  display: block;
  text-align: right;
  color: $detailColor;
  font-weight: 300;
}

table.responsive-table th, table.responsive-table td {
  margin: 0;
  vertical-align: top;
}
table.responsive-table tbody {
  display: block;
  width: auto;
  position: relative;
  overflow-x: auto;
  white-space: inherit !important;
}
table.responsive-table tbody tr {
  display: inline-block;
  vertical-align: top;
  float: left;
}

table.responsive-table tr {
  padding: 0 10px;
}

table.responsive-table td {
  display: block;
  min-height: 1.25em;
  text-align: left;
  max-width: 100%;
  word-wrap: break-word;
}

table.responsive-table th, table.responsive-table td {
  margin: 0;
  vertical-align: top;
}


.filters {
  width: 50%;
}
#faculty-filter__textfield{
color: #868686;
  font-family: $font-stack;
  font-size: 1.5em;
}

#country-filter__textfield{
color: #868686;
  font-family: $font-stack;
  font-size: 1.5em;
}
input:not([type]):focus:not([readonly]) {
  border-bottom: $detailColor;
  box-shadow: 0 1px 0 0 $detailColor;
  color: #fff;
}

#faculty-filter__menu {
color: #fff;
border-radius: 2px;
background-color: $bgColor;
font-family: $font-stack;
z-index: 1000;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
font-size: 1.8em;
}

#country-filter__menu {
color: #fff;
border-radius: 2px;
background-color: $bgColor;
font-family: $font-stack !important;
z-index: 1000;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
font-size: 1.8em;
}

.selectize__textfield--selection{
  color: #fff;
  font-family: $font-stack;
  font-size: 1.8em;
}
.selectize__item:hover {
  background-color: #232323 !important;
  margin: 0 !important;
  padding: 0 24px !important;

}


body > div.main.container > ul.collapsible.popout.filter-class > li > div.collapsible-body > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div > i {
  display: none;
}

body > div.main.container > ul.collapsible.popout.filter-class > li > div.collapsible-body > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div > i{
  display: none;
}

.selectize__icon{
  color: $detailColor;
  font-size: 32px !important;
}

/**MEDIA LESS THEN 745 px WIDE*/

@media screen and (max-width: 1000px){


  /*********************FONTS SIZES**************************************/

.employer{
  margin-left: 15px !important;
}

.filters {
  width: 100%;
}

  h2{
    font-size: 1.2em;
  }
  .container {
    width: 99%;
  }

/*  #top-text{
    margin-top: 20%;
    margin-left: 2%;
  }*/

  .max-width{
    width: 100% !important;
  }

  menu{
    height: 40px;
    width: 100%;
    img{
      margin-left: 16px;
      width: 5%;
    }
  }

  .arrow {
    img {
      height: 16px !important;
    }
  }

  .tables{
    display: inline-block;
  }

  .table-wrapper{
    width: 100%;
  }

  .country img {
    height: 32px !important;
}
}
